
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #000f30;
  --mainColo2: rgb(0, 0, 10);

  --shades: box-shadow: 0px 0px 50px -24px #E3E3E3;
}

[deta-sheme="dark"] {
  --mainColor: #000f30;
  --mainColo2: rgb(0, 0, 10);
}
ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  font-family: 'play', sans-serif;
  background-color: var(--mainColor);
}


header {
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
}

header .logo {
  img {
    width: 150px;
  }
}


header .list-of-menu {
  position: relative;
  z-index: 10;
}
.list-of-menu .list-icon {
  cursor: pointer;
  background-color: var(--mainColor2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  i {
    color: #fff;
    font-size: 20px;
  }
}
.list-of-menu  .list-of-links {
  padding: 20px;
  border-radius: 12px;
  transition: .3s;
  background-color: var(--mainColo2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 450px;
  height: 90vh;
  visibility: hidden;
  opacity: 0;
  li {
    border: 1px solid #ffffff55;
    border-radius: 12px;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    transition: .3s;
    &:hover {
      background-color: rgba(255,255,255, .4);
    }
    a {
      display: block;
      padding: 10px;
      font-size: 18px;
      text-transform: capitalize;
      color: #fff;
    }
  }
}
.list-of-menu  .list-of-links.active {
    visibility: visible;
    opacity: 1;
}

.icons {
  padding: 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .ul-footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100h;
  background-color: rgba(0,0,0, .40);
  z-index: 1;
  display: none;
}

.overlay.active {
  display: block;
}

@media (width < 500px) {
  .list-of-links {
    height: 60vh !important;
    width: 400px !important;
  }
}